<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Loans.Gold_Loan"/>
      <class name="Loans.Bike_Loan"/>
      <class name="Loans.Car_Loan"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
